body{
    background-image:url(../imagenes/fondo.jpg);
}
.bg-ofi{
    background-color: rgb(216, 156, 226)
}
#img{
    width: 300px;
}
#botones{
    font-size: 2rem;
    font-family:'Nunito', sans-serif;
    color: rgba(206, 34, 163, 1);
}
#botones:hover{
   color: rgb(151, 18, 212);
}
.style-section{
    color: black;
    background-color: violet;
    text-align: center;
    margin: 2rem;
    border-style: solid;
    border-color: rgba(206, 34, 163, 1);
}
#titulos{
    text-decoration: underline;
    text-align: center;
    margin: auto;
    font-family:'Nunito', sans-serif;
}
footer a{
    text-decoration: none;
}
footer a img{
    padding-top: 20px;
    padding-bottom: 20px;
}
.borde{
    border-style:inherit;
    border-color: fuchsia;
}
#img-div{
    width: 500px;
}