$Imglogo: 300px;
$titledecoration: underline;
$align:center;
$decofoo:none;
$imghistoria:400px;

//maps
$colorproyect:(
    'principal':rgb(216, 156, 226),
    'titulos': black,
    'info': violet,
    'hover': rgba(151,18,212),
    'bordes':rgba(206,34,163,1),
    'parrafos':rgba(141,11,141,1),
    'button':rgba(206,34,163,1),
);




