//navbar
body{
    background-image:url(../imagenes/fondo.jpg);
}
.bg-ofi{
    background-color: map-get($map: $colorproyect, $key: 'principal');;
}
#img{
    width: $Imglogo;
}
#botones{
    font-size: 2rem;
    font-family: $botonerat;
    color: map-get($map: $colorproyect, $key: 'button');
    &:hover{
     color:map-get($map: $colorproyect, $key: 'hover');
    }
}